* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: whitesmoke;
    color: #000;
}

.main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 22rem;
        height: 37.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 4fr;
        justify-content: center;
        gap: 0.5rem;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);

        input {
            width: 100%;
            height: 100%;
            border: none;
            background: #fff;
            border-radius: 5px;
            font-size: 1.5rem;
            border: 1px solid black;
            text-align: right;
            padding-top: 6rem;
            padding-right: 1rem;


        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.4rem;
            width: 100%;

            .rows {
                width: 100%;
                height: 5rem;
                display: flex;
                gap: 0.4rem;


                .btn {
                    height: 100%;
                    width: 100%;
                    background: white;
                    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.01);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.5rem;
                    font-size: 1.5rem;
                    border: 1px solid #000;
                }

                .btn:hover {
                    background: whitesmoke;
                    cursor: pointer;
                }

                .btn-cal {
                    color: royalblue;
                    font-weight: 400;
                    border: 1px solid royalblue;
                }

                .equal {
                    background: royalblue;
                    color: #fff;
                }

                .equal:hover {
                    background: #fff;
                    color: royalblue;
                }
            }

        }
    }

}